body {
	background-color: rgb(26, 161, 185);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

form > input {
	width: 80px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	text-align: center;
	font-size: large;
}

.valor {
	width: 120px;
}

form > button > img {
	width: 25px;
    height: auto;
}

#limpador {
	font-variant: small-caps;
	font-size: 20px;
}

button {
	background-color: orange;
	border-style: solid;
	cursor: pointer;
}

